* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-background {
    background-image: url(images/headphones_hero_1.jpg);
    max-width: 1400px;
    max-height: 800px;
}

nav {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin: 0 15px;
    float: right;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav ul li {
    margin: 20px 10px;
}
nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}
nav ul li a:hover {
    color: #FF6565;
}
.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    margin: 30px;
}
.hamburger:before, 
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger:before {
    top: -10px;
    width: 30px;
}
.hamburger:after {
    top: 10px;
    width: 30px;
}
.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger, .toggle-menu {
     display: none; 

}
  nav input:checked ~ .hamburger {
    background: transparent;
}
 nav input:checked ~ .hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
 nav input:checked ~ .hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
  }
.container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
 
 }
.container h1 {
    color: white;
    padding-top: 150px;
}
.lorem p {
    color: #f0f0f0;
    padding-bottom: 30px;
    font-size: 16px;
}
.lorem button  {
    font-size: 18px;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 20px;
    background-color: #da2e2e;
    color: #f0f0f0;
    margin: 30px;
    cursor: pointer;
}

button:hover, button:active {
    opacity: 0.9;
}
.ipsum p {
    color: #f0f0f0;
    font-size: 16px;
    margin: 0 70px;
    padding: 40px 150px;
}
@media (max-width: 480px) {
    body {
        background-color: #f0f0f0; 
    }

    .container {
        padding: 10px;
        
    }
}
.result-box {
    background-color: #FF4136;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.what-we-do {
    background-color: white;
    color: #333;
    padding: 50px 0;
    text-align: center;
}

.what-we-do h2 {
    margin-bottom: 20px;
}

.what-we-do p {
    margin-bottom: 30px;
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

.icon-box {
    width: 150px;
    text-align: center;
}

.icon-box .icon {
    background-color: #FF4136;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.icon-box p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}