* {
    margin: 0;
    padding: 0;
}


.pentagon {
    position: absolute;
    top: 40%;
    left: 40%;
    border-top: 90px solid rgb(253, 18, 18);
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    width: 90px;
    height: 0;

}
 .pentagon::after {
    position: absolute;
    content: "";
    border-bottom: 90px solid  rgb(253, 18, 18);;
    border-left: 90px solid transparent;
    border-right: 120px solid transparent;
    left: -60px;
    bottom: 90px;


} 

