* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header img {
    height: 30px;
    margin-left: 150px;
}

.hero-background {
    width: 100%;
    height: 800px;
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container h1 {
    font-size: 24px;
    color: #f0f0f0;
    margin-top: 200px;
}

.lorem p {
    font-size: 18px;
    color: #f0f0f0;
    margin-bottom: 20px;
}

.lorem button {
    font-size: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #da2e2e;
    color: #fff;
    margin-bottom: 50px;
}

.ipsum {
    margin-bottom: 20px;
}

.ipsum p {
    font-size: 18px;
    color: #f0f0f0;
    margin: 0 20px;
    padding: 20px 150px 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
}

.nav-links li {
    margin: 0px 10px;
}

.nav-links a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}

.nav-links a:hover {
    color: #FF6565;
}

.hamburger {
    display: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%);
}

.hamburger .bar {
    height: 2px;
    width: 25px;
    margin: 4px 0;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
}

@media (max-width: 768px) {
    main {
        padding-top: 250px;
    }
 
    .header {
        padding: 20px 30px;
    }
    .header {
            flex-direction: column;
            align-items: flex-start;
        }
    

    .hero-background {
        height: 600px;
    }

    .container h1 {
        font-size: 20px;
        margin-top: 150px;
    }

    .ipsum p {
        padding: 20px;
    }

    nav {
        justify-content: space-between;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0%;
        width: 100%;
    }

    .menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .content-container {
        padding: 50px 20px;
    }

    .icon-container {
        flex-direction: column;
        align-items: center;
    }

    .results {
        flex-direction: column;
    }

    .form-container button {
        margin: 20px 0;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-icons {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 480px) {
    body {
        background-color: #f0f0f0;
    }

    .header {
        padding: 10px 20px;
    }

    .hero-background {
        height: 400px;
    }

    .container {
        padding: 10px;
    }

    .container h1 {
        margin-top: 100px;
        font-size: 18px;
    }

    .ipsum p {
        padding: 10px;
    }

    .nav-links {
        top: 50px;
    }

    .nav-links li {
        margin: 5px 0;
    }

    .what-we-do,
    .dark-section,
    .form-container {
        padding: 20px;
    }
}

.what-we-do,
.dark-section,
.form-container {
    padding: 40px 20px;
    text-align: center;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-box {
    flex: 1 1 200px;
    width: 150px;
    text-align: center;
    margin: 10px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    margin-top: 50px;
}

.result-box {
    flex: 1 1 200px;
    position: relative;
    margin: 10px;
    text-align: center;
    padding: 20px;
    min-height: 250px;
    overflow: hidden;

}

.overlay {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50% -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1000px;
}

.content-container h2 {
    margin-bottom: 30px;
}


.dark-section {
    background-image: url(images/headphones_hero_2.jpg);
    background-color: #001F3F;
    background-size: cover;
    color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 0;
}

.dark-section::after {
    content: "";
    width: 800px;
    height: 400px;
    position: absolute;
    background-color: yellow;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark-section .p {
    font-size: 24px;
    font-weight: bold;
}

.dark-section .p1 {
    font-size: 12px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: blueviolet;
}

.form-container form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
}

.form-container input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 12px;
}

.form-container label {
    float: left;
}

.form-container button {
    background-color: #dd1818;
    border: none;
    cursor: pointer;
    color: #f0f0f0;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 20px;
}

.form-container button:hover {
    background-color: blue;
}


footer {
    background: #071629;
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 200px;
}

.logo-footer {
    max-height: 50px;
    margin-bottom: 20px;
}
.img {
    padding-right: 250px;
    
}

.icon-box {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s space ease-out;
}

.icon-box:hover {
    transform: scale(1.1);
}

.icon-box img {
    transition: opacity 0.3s ease-out;
}

.icon-box:hover img {
    opacity: 0.8;
}

.result-box {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-out;
}

.result-box:hover {
    transform: scale(1.1) rotate(360deg);
    animation: bounce 0.5s, reverse 0.5s;
}
 